* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    direction: rtl;
    text-align: right;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    background: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

a:hover{
    background-color:gold;
    border-radius: 30px;
}

.menu a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.menu {
    display: flex;
    gap: 40px;
    font-size: 20px;

}



.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

.menu-checkbox {
    display: none;
}

@media(max-width: 550px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: gold;
        position: absolute;
        top: 60px;
        right: 10px;
        padding: 10px;
        width: 80%;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    }

    .menu-checkbox:checked+.menu-toggle+.menu {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}

.continer1 {
    background-color:gold;
    text-align: center;
    padding: 80px 20px;
}

.continer1 h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.continer1 p {
    font-size: 18px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.btn {
    padding: 10px 20px;
    background:black;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: darkgreen;
}

.btn.secondary {
    background:black;
}

.btn.secondary:hover{background: darkgreen;}
.icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    background: white;
    padding: 30px 0;
}

.icons img {
    height: 50px;
}

.content {
    background:black;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
}

.form-image {
    width: 60%;
    max-width: 600px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.footer {
    background: #000;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}