* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    direction: rtl;
    text-align: right;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.part1 {
    display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    

.logo {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

a:hover {
    background-color: gold;
    border-radius: 30px;
}

.menu a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.menu {
    display: flex;
    gap: 20px;
    font-size: 20px;

}



.menu-toggle {
    display: none;
    font-size: 28px;
    margin-left: 1rem;
}

.menu-checkbox {
    display: none;
}

@media(max-width: 600px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: gold;
        position: absolute;
        top: 60px;
        right: 10px;
        padding: 10px;
        width: 80%;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        z-index: 3;
        justify-content: space-between;
    }

    .menu-checkbox:checked+.menu {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}

.continer1 {
    background-color: gold;
    text-align: center;
}

.continer1 h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.continer1 p {
    font-size: 18px;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.btn {
    padding: 10px 20px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: darkgreen;
}

.btn.secondary {
    background: black;
}

.btn.secondary:hover {
    background: darkgreen;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 40px;
    background: white;
    padding: 30px 0;
}

.icons img {
    height: 50px;
}

.content {
    background: black;
    justify-content: center;
    align-items: center;
    width: 1500px;
}

.form-image {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer {
    background: #000;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}